# Pandas


*   Python 3 Library
*   Provides layer of abstraction for manipulating data
*   Gives data structures similar to what is used in R (equivalent concepts)
*   https://pandas.pydata.org/pandas-docs/stable/index.html

# Initializing

In [0]:
import pandas as pd

# The Dataframe

* The dataframe is the fundamental data structure of Pandas.
* Stores data in tabular form.
* Allows querying by column name or index.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [0]:
# can be initialized with a list of lists, numpy array, dict, or another DataFrame
data = {"col1": [1, 2], "col2": [3,4]}
pd.DataFrame(data)

In [0]:
pd.DataFrame(data=[[1, 3], [2, 4]], columns=["student_id", "grade"])

# Reading from source



*   https://pandas.pydata.org/pandas-docs/stable/io.html
*   Typically, DataFrames are initialized with an existing data source
*   Often you will want to read files on your computer into a DataFrame to query and transform them.
*   Data can be queried directly from where it is stored in many cases.

In [0]:
# The following is code for uploading a file to the colab.research.google 
# environment.

# library for uploading files
from google.colab import files 

def upload_files():
    # initiates the upload - follow the dialogues that appear
    uploaded = files.upload()

    # verify the upload
    for fn in uploaded.keys():
        print('User uploaded file "{name}" with length {length} bytes'.format(
            name=fn, length=len(uploaded[fn])))

    # uploaded files need to be written to file to interact with them
    # as part of a file system
    for filename in uploaded.keys():
        with open(filename, 'wb') as f:
            f.write(uploaded[filename])

In [0]:
# get the winequality-red data from here:
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
# Upload it to a notebook by calling the function above
upload_files()

https://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table

sep, delimeter, delim_whitespace -> specify what separates your values

Note: The default quotechar value is ".
This means that strings should be quoted and can then contain your delimiter.
It is best practice to have string values quoted to avoid data I/O problems.

In [0]:
wine_dataframe = pd.read_csv("winequality-red.csv")
wine_dataframe

https://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader

read_json can read from a string or a file.

https://www.json.org/

Json is a way of describing an objects attributes as a hierarchy.

In [0]:
s =  '{"1":{"Name":"John","Age":24,"Gender":"Male"}, \
    "2":{"Name":"Doug","Age":45,"Gender":"Male"}, \
    "3":{"Name":"Alice","Age":34,"Gender":"Female"}}'
pd.read_json(s, orient='index')

# note that the order of the columns is not necessarily maintained

https://pandas.pydata.org/pandas-docs/stable/io.html#io-excel-reader

read_excel - specify sheet name in the file.

Pandas requires the xlrd library to be installed for excel support.

In [0]:
# Download the Iris-Data spreadsheet 1 as Iris-Data.xlsx
# upload it using the upload_files function again
upload_files()

In [0]:
!pip install xlrd

In [0]:
pd.read_excel("Iris-Data.xlsx", 'table')

Let's look at reading directly from a google sheet into colaboratory!

First step is to install the 'gspread' python library for connecting to google sheets.

Reading into a DataFrame involves extracting the raw data and initializing a
Pandas DataFrame. Remember the specify the column names!

There are libraries for converting from gspread directly to a DataFrame but they are
less established.

In [0]:
!pip install --upgrade -q gspread

In [0]:
# Next you will have to authenticate with your google account

from google.colab import auth
import gspread
from oauth2client.client import GoogleCredentials

# auth is from google colab - it initializes the colab runtime to be
# authenticated using your google account credentials
auth.authenticate_user()

# this line authorizes the colab runtime to access your google sheets
# when it is ran, it will give you verification instructions
# the gsheet_conn variable is what you will use to connect to sheets
gsheet_conn = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
# "Iris Data" is the name of our google sheet - make sure you have access
# the sheet1 attribute selects the first tab in the google sheet file
worksheet = gsheet_conn.open("Iris-Data").sheet1

In [0]:
# we select the data as a list of lists and then initialize the DataFrame
rows = worksheet.get_all_values()
pd.DataFrame(rows[1:], columns=rows[0])

What about reading from an SQL database directly?

https://pandas.pydata.org/pandas-docs/stable/io.html#io-sql

# Exploratory Data Analysis (EDA)

After you have your DataFrame, often you know very little about the data itself.

What commands can help you get a feel for what the data contains and what questions you might want to ask?

The head() method returns a subset of rows from the start of the dataframe. Great for checking schema quickly (if a small number of columns).

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html

In [0]:
wine_dataframe.head()

In [0]:
wine_dataframe.head(10)

The tail() method returns a subset of rows from the end of the dataframe.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html#pandas.DataFrame.tail

In [0]:
wine_dataframe.tail()

How do you investigate the schema if the number of columns is large?

Start by looking at the dimensions of the dataframe.

shape - an attribute of a dataframe. This is not a method so it doesn't need brackets.

The returned tuple contains the number of rows first, followed by the number of columns. This is immutable directly.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html#pandas.DataFrame.shape

In [0]:
wine_dataframe.shape

Check schema information directly with the info() method.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html#pandas.DataFrame.info

In [0]:
wine_dataframe.info()

You'll notice the info() shows the column types - more on the supported types to come.

The describe() method is great for getting a quick feel about the range and shape of data.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html#pandas.DataFrame.describe

In [0]:
wine_dataframe.describe()

How about when you want to look at just parts of the data set? Like particular columns or sets of columns?

The columns attribute returns columns names. Like shape, this is an attribute and doesn't require brackets.

In [0]:
# run just wine_dataframe.columns to see
wine_dataframe.columns

In [0]:
wine_dataframe.head()

We can select a single column by using the [] operator along with the column name.

This returns a Series. Series are what make up DataFrames. You can think of a Series like a sequence or a single column.

In [0]:
wine_dataframe["fixed acidity"]

A useful trick when using a Series is the value_counts() method.

Note that this is a method of a Series and not a DataFrame, so make sure you have selected
a Series before calling.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html

In [0]:
wine_dataframe["alcohol"].value_counts(ascending=True)

In [0]:
wine_dataframe["quality"].value_counts()

In [0]:
wine_dataframe["alcohol"].value_counts(bins=10)

In [0]:
# sort refers to sorting by counts
# the alternative is to sort by the value itself
wine_dataframe["alcohol"].value_counts(bins=10, sort=False)

In [0]:
# This sort of investigation can give you a feel for the shape of the data
wine_dataframe["alcohol"].value_counts(bins=30, sort=False)

What about multiple columns?

In [0]:
# A subset of columns can be selected by using a list of column names
# This returns a DataFrame. Great for checking out a part of a DataFrame with
# a lot of columns
wine_dataframe[["alcohol", "quality"]].describe()

# Sorting

As part of EDA, often you will want to sort the data in different ways. We have seen
how to get the max and min values of columns via describe(), but sometimes you will want
to see how one value relates to another (e.g. alcohol content of top quality wines?)

Note that there are multiple ways to do this in Pandas. In older versions of pandas,
DataFrames had a sort() method. This is deprecated now. In its place we have the sort_values()
and sort_index() methods.

Let's start with sort_values().

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

In [0]:
wine_dataframe.sort_values("quality")

When you run this, pay atention to the defaults. You will notice that it sorts in ascending order and returns a copy of the
whole DataFrame. Copying the DataFrame is fine for EDA with small datasets, but you will want to use 'inplace=True' to actually
modify the DataFrame.

In [0]:
# copy so we don't mess with the original
wine_dataframe_copy = pd.DataFrame(wine_dataframe)

# lets sort descending and within the given DataFrame
wine_dataframe_copy.sort_values("quality", ascending=False, inplace=True)
wine_dataframe_copy.head()

Quality has a lot of ties, hey? How should we deal with that?

The first argument to sort_values() can take a list of values. Ties for the first value
are broken using the second value. Ties on the second value are broken on the third value
and so on.

In [0]:
wine_sorted_by_quality_and_alcohol = wine_dataframe.sort_values(["quality", "alcohol"], ascending=True)
wine_sorted_by_quality_and_alcohol.head()

Note that sort_values() also has the 'axis' argument. Axis defaults to 0 which sorts rows. If you use 1 you can sort columns.

For the typical relational dataset, sorting by columns doesn't make sense. But it could be very useful if you have a subset of columns
that have some shared semantics and you want to sort across them. In that case, you specify the row to be your sorting key.

Here is column sorting for our wine dataset - doesn't make a lot of sense does it? Sorting by column really depends on the shape of your data.

In [0]:
wine_dataframe_col_sort = wine_dataframe.sort_values(0, axis=1)
wine_dataframe_col_sort.head()

There is also the sort_index() method. The arguments are similar, except they all have default values and the level
argument replaces the first argument of sort_values().

Similarly, you choose the axis. You can specify the level being the subset of labels to sort from.

A typical use of this method might be to get a sorted DataFrame back to its original order.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html#pandas.DataFrame.sort_index

In [0]:
wine_index_sorted = wine_sorted_by_quality_and_alcohol.sort_index()
wine_index_sorted.head()

Using the axis 1, the column labels will be sorted. Perfect for organizing column names.

In [0]:
wine_col_name_sorted = wine_dataframe.sort_index(axis=1)
wine_col_name_sorted.head()

# Querying Values

You've seen how to look at the values in your DataFrame, but how do you start asking questions of the data? Often you will just want to
see particular values from your DataFrame.

The first thing you need to notice is that a DataFrame is made up of values and indices. Indicies are like labels. There are row indices
and column indicies. Often, rows are indexed by a number which implies the order the rows were stored in. Columns are often indexed
by strings which represent the names of the columns. Rows and columns also have a positions. Position refers to the order the
rows and columns are currently in. Sorting affects position but it does not affect index.

Pandas provides ways of querying values by indices or by position. Let's look first at querying individual cells. The DataFrame
attributes for that are at() and iat(). at() is for querying by index/label and iat() is for positional querying.You use the indexing operator []
to actually querying values. The [] operator accepts two arguments, the first applying to rows and the second applying to columns.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.at.html#pandas.DataFrame.at
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iat.html#pandas.DataFrame.iat

In [0]:
wine_dataframe.head()

In [0]:
wine_dataframe.at[29, "chlorides"]

Notice that with at we can use the index. 0 works here because the rows have integer labels. The label 0 is currently in the 0 position. With iat we can query based on position.

In [0]:
wine_dataframe.iat[29, 4]

Now what if we sort the dataframe?

In [0]:
wine_sorted_by_quality = wine_dataframe.sort_values("quality", ascending=False)
wine_sorted_by_quality.head()

In [0]:
wine_sorted_by_quality.iat[0, 0]

In [0]:
wine_sorted_by_quality.at[0, "fixed acidity"]

In [0]:
wine_sorted_by_quality.head()

See, the position is changed by the sort, but the indices aren't.

Let's move on to querying more than one element. We call this "slicing".

First, lets look at what using the [] directly on the dataframe can do. The syntax here is less
consistent than using the [] on attributes, so ignore this if you find it confusing. Using the []
directly on the DataFrame cannot do anything that using the [] operator with loc or iloc (will be shown shortly) cannot do.

In [0]:
wine_dataframe["fixed acidity"].head()

Passing a list of column names lets the user select a subset of columns by name.

In [0]:
two_cols = wine_dataframe[["fixed acidity", "citric acid"]]
two_cols.head()

The : operator is used to perform a slice. A slice refers to grabbing a range of rows or columns.
Slicing borrows the semantics of slices on python lists.
The : operator can be used with two values, denoting the start and end of the range. Note that the
range implied by a slice includes the start value but does not include the end value. When no value
is given for the start value, it implicitly becomes 0. When no value is provided for the end value it
implicitly becomes len(list).

For example:

*   1:5 refers to 1, 2, 3, 4
*   :5 refers to 0, 1, 2, 3, 4
*   1: refers to 1, 2, 3, 4, ..., len(list) - 1
*   : refers to 0, 1, 2, 3, 4, ..., len(list) - 1

When the slice operator is used with the [] operator directly on a DataFrame, it slices the rows
and keeps all the columns. The slice refers to position.

In [0]:
wine_dataframe["fixed acidity"][700:702]

In [0]:
wine_dataframe[1:5]

Similar to the at and iat attributes, DataFrames have attributes meant for querying multiple values at once.
The loc and iloc attributes are very useful for selecting rows and columns in a predictable manner. loc refers
to locate and makes use of indices/labels. iloc refers to integer locate and makes use of numeric positions.

Similar to the at and iat attributes, using the [] allows two values, the first refering to rows and the second
refering to columns. This time however, slices and lists of values can be used (as well as boolean arrays). This allows selecting multiple rows and columns at once.

In [0]:
wine_dataframe.loc[1:5, ["fixed acidity", "volatile acidity", "citric acid"]]

Something you should notice about the code above is that the :5 slice returns rows 0 to 5 and includes row 5. This probably looks wrong, considering you just learnt that slices don't include the end value. Well, when you use the : operator with loc it doesn't do integer slicing on positions. Instead it is locating the labels (http://pandas.pydata.org/pandas-docs/stable/indexing.html#slicing-with-labels).

How it works is it detects if the labels you specified in the slice are present in the data. If they are present as indices it returns those rows **along with all the rows positionally in between**. If only one is present but the index is sorted it will still return indices whose rank falls between the values. If it can't find either index, or can only find one but the index isn't sorted, an error will be thrown.

The beauty of this kind of "slicing" is you can slice with text labels as well!

In [0]:
wine_dataframe.loc[:4, "fixed acidity":"chlorides"]

iloc of course selects based on position. This uses the normal semantics of integer slicing. Remember, you can use the : operator without any values to refer to the whole range.

In [0]:
wine_dataframe.iloc[:5, :]

In [0]:
wine_dataframe.iloc[:5, :5]

#Conditional Querying

loc and iloc also work with boolean arrays. To use this effectively we should discuss boolean operations in pandas.

Pandas allows you to use all the typical boolean operators and apply them to a dataframe. You can use >, <, ==, >=, <= etc. If you apply a boolean operator to a dataframe, it gets applied to each element indiividually, and return a new dataframe that contains the boolean results. This behaviour is similar if applied to a single series.

In [0]:
wine_dataframe_positive_vals = wine_dataframe > 0
wine_dataframe_positive_vals.head()

In [0]:

wine_dataframe.loc[wine_dataframe["quality"] > 5, :]

Pandas provides the any() and all() methods for collapsing values. These methods check if there is **any** True value over a list of values (i.e. there exists at least one True element) or if **all** values in a list of values are True.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.all.html#pandas.DataFrame.all
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.any.html#pandas.DataFrame.any

The axis argument lets you select which axis to collapse over. If you choose 0 (i.e. rows) then each column will have a resulting value. If you choose 1 (i.e. columns) then each row will have a value.

In [0]:
wine_dataframe_positive_vals.all(0)

In [0]:
wine_dataframe_positive_vals.all(1).head()

The true power of these boolean operations comes from using them to query values. Let's imagine we are only concened with strong wines. How might we look at just the wines with high alcohol content? First lets check what strong means.

In [0]:
wine_dataframe.alcohol.describe()

It could be 14 percent or above. Let's see how many wines fit that criteria.

In [0]:
# Notice the syntanx for querying rows with a boolean array
# using loc, we can select by labels and using a boolean array
# since the first arg is for rows, this is saying 'give me all rows where
# alcohol is above or equal to 14'. The second arg is saying 'give me all 
# columns'.
strong_wine_dataframe = wine_dataframe.loc[wine_dataframe["alcohol"] >= 14.0, :]
strong_wine_dataframe

Only 8 wines!

Can we query columns this way as well? What if we only want columns that contain all positive values on the whole dataframe?

In [0]:
# this will remove the citric acid column, which can contain 0s
wine_dataframe.loc[: ,wine_dataframe_positive_vals.all()].head()

How about combining our row querying and our columns querying?

In [0]:
wine_dataframe.loc[wine_dataframe["alcohol"] >= 14.0, wine_dataframe_positive_vals.all()]

What if we want to query with more than one condition? How do we combine conditions?

http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing

Pandas has three operators for logically combining DataFrames or Series' that contain Boolean values. The | operator combines using logical **or**, the & operator combines using logical **and**, and the ~ is logical negation, also known as **not**.

When querying a dataframe using logical operators, make sure to use () around your conditionals.

In [0]:
# strong wines above 6 in quality?
wine_dataframe.loc[(wine_dataframe.alcohol >= 14.0) & (wine_dataframe.quality > 6), :]

In [0]:
# Everything except strong wines
wine_dataframe.loc[~(wine_dataframe.alcohol >= 14.0), :].shape

In [0]:
# wines that are either sweet OR high in quality
# note from earlier when we used the describe() method
# that 75th percentile for residual sugar is 2.6
# select only relevant columns
wine_dataframe.loc[(wine_dataframe["residual sugar"] > 2.6) | (wine_dataframe.quality > 6), ["residual sugar", "quality"]].shape

#Grouping and Aggregating

Sometimes you will want to group values based on some criteria, and then do operations to those groups. E.g. use cases:

*   Calculate mean purchase value of customers exposed to different ad campaigns
*   See the average quality of weak, medium, and strong wines
*   When analyzing focus groups with different inclusion criteria, normalizing each group with respect to its own distribution

The workhorse method here is groupby().

http://pandas.pydata.org/pandas-docs/stable/groupby.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

groupby() returns a GroupBy object. You can find available functions and methods here:

http://pandas.pydata.org/pandas-docs/stable/api.html#groupby

In [0]:
# grouping can be done with a string or list of strings that refer to column 
# labels (or row labels if you change the index parameter)
wine_dataframe.groupby("quality")

In [0]:
# What can you do with the GroupBy object?
# What sort of mapping is shown by the group attribute?
wine_grouped_quality = wine_dataframe.groupby("quality")
wine_grouped_quality.groups

In [0]:
# Quick way to check the size of each group
wine_grouped_quality.size()

In [0]:
# What about doing more complex operations? There are built in functions for doing
# a lot of the typical aggregations
wine_grouped_quality.mean()

In [0]:
wine_grouped_quality['chlorides'].mean()

In [0]:
# The aggregate method is more generic
# You supply the function that does the aggregation
# Argument to the function should be a DataFrame (each
# group is a DataFrame)
wine_grouped_quality.aggregate(pd.DataFrame.mean)

In [0]:
# There is also the agg method for easily referring to an
# aggregation that GroupBy supports.
# It is easy to suppy several aggregations here
wine_grouped_quality["chlorides"].agg(["count", "mean", "std"])

The most generic method is apply.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.apply.html#pandas.core.groupby.GroupBy.apply

It is similar to aggregate, only the returned avlue from the supply function can be a DataFrame, a Series, or a Scalar value. This is very versatile if you ever have to do morecomplex transformations per group.

Let's go back to how we are grouping. We have seen now how to group based on columns names. This groups by the values explicitly in the column(s). That can be useful
for categorical variables or discrete variables with a few values but it isn't very useful if you want to group by a continuous variable or a discrete variable with a lot of values.

Unfortunately, groupby doesn't offer a convenient way to carving up continuous values. You have a couple of options though:


*   Just apply a function to each row that creates your grouping, store that grouping in a new column, then groupby on that new column
*   Use the cut function to bucket a value, use that bucket with groupby

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.cut.html

In [0]:
# the cut function lets you get buckets (ranges) from a numeric column
# this is perfect for quickly discretizing a continuous variable
wine_groupedby_alcohol = wine_dataframe.groupby(pd.qcut(wine_dataframe["alcohol"], 3, duplicates="drop"))
wine_groupedby_alcohol.size()

For a more comprehensive look at the aggregation operations available, be sure to go over the docs for the GroupBy class:

http://pandas.pydata.org/pandas-docs/stable/api.html#groupby

# Transformations

Often you will need to change the shape of your data. This can be because the original format makes it difficult to interpret or because an algorithm requires a specific input. Luckily, Pandas comes with some specialty functions for different kinds of shape manipulation.

Let's look first at the pivot_table and melt functions.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html

These functions are inverses of each other. If you perform a pivot, in theory a melt should be able to reconstruct the original data (depending on the parameters).

In [0]:
# consider some aggregate transactional data
# Each row has some categorical attributes and some numeric values
# this is the type of data people like to "pivot" on 
# Pivot tables essentially re-arrange the data so it is easier
# to see the hiearchy and relationship between attributes
sales_df = pd.DataFrame([
  {"Region": "West", "Store Type": "Kiosk", "Product Type": "Shoes", "Sales": 145},
  {"Region": "West", "Store Type": "Kiosk", "Product Type": "Shirts", "Sales": 85},
  {"Region": "West", "Store Type": "Kiosk", "Product Type": "Pants", "Sales": 46},
  {"Region": "West", "Store Type": "Outlet", "Product Type": "Shoes", "Sales": 241},
  {"Region": "West", "Store Type": "Outlet", "Product Type": "Shirts", "Sales": 143},
  {"Region": "West", "Store Type": "Outlet", "Product Type": "Pants", "Sales": 89},
  {"Region": "East", "Store Type": "Kiosk", "Product Type": "Shoes", "Sales": 154},
  {"Region": "East", "Store Type": "Kiosk", "Product Type": "Shirts", "Sales": 101},
  {"Region": "East", "Store Type": "Kiosk", "Product Type": "Pants", "Sales": 32},
  {"Region": "East", "Store Type": "Outlet", "Product Type": "Shoes", "Sales": 216},
  {"Region": "East", "Store Type": "Outlet", "Product Type": "Shirts", "Sales": 205},
  {"Region": "East", "Store Type": "Outlet", "Product Type": "Pants", "Sales": 67}
])
sales_df

Let's look at a pivot in action.

Although DataFrame also has a pivot method, the pandas pivot_table function is just a more general version of pivot, so that is what I suggest using.

In [0]:
# The pivot_table function is fairly straight forward to use.
# The index parameter designates which columns will become your new row index
# the columns parameter designates which columns will become your new column index
# Think of it as telling which combination of columns by which other combination of
# columns you want to see a metric displayed by. Note that I don't have to designate
# what column the values/metrics come from. Since it is the only one left it is inferred.
# I would use the values parameter if it couldn't be inferred and/or the aggfunc
# parameter if the metrics needed to be calculated somehow.
sales_pivot = pd.pivot_table(sales_df, index=["Region", "Store Type"], columns=["Product Type"])
sales_pivot

I said before that melt can be considered the inverse of pivot. Let's try melting what we just pivoted to get back to our original shape.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html

In order to do that we need to make a quick segway. Look closely at the columns in the output of pivot_table. The hierachical structure is implemented by something called a MultiIndex. A MultiIndex is just like the index/label of the rows/columns of a DataFrame, except it allows several layers of indices. These are useful if the labels follow a natural ordering or hierarchy.

We want to use melt to get our data back to its original shape. Melt will want you select a level of the MultiIndex to use. The best way for us todeal with this is to flatten the MultiIndex down into a single level. A new method you will need to do this is the reset_index() method.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html

In [0]:
# reset_index is useful here because afterwards the MultiIndex will
# just have two layers to work with instead of three. To see how this looks,
# print the spr variable before manipulating the columns
spr = sales_pivot.reset_index()

# A useful aspect of the DataFrame is that many attributes can be written as
# well as read. This allows us to manipulate the columns Index by just
# assigning it. We simply take the labels from the the two levels that we want,
# concat them and assign them as the new Index. spr.columns.get_level_values
# returns an Index object which can be treated as a list.
spr.columns = (spr.columns.get_level_values(0)[:2]).append(spr.columns.get_level_values(1)[2:])

# The melt function is easy to use if your data looks like a pivot table.
# Specify which columns contain the metrics with value_vars and specify
# which columns contain the categorical variables with id_vars.
pd.melt(spr, id_vars=["Region", "Store Type"], value_vars=["Pants","Shirts","Shoes"])

In [0]:
# You will notice that not all of the columns names were kept correctly.
# You can specify column names with the var_name and value_name parameters
pd.melt(spr, id_vars=["Region", "Store Type"], value_vars=["Pants","Shirts","Shoes"], var_name="Product Type", value_name="Sales")

Next up is one-hot encoding. This is often used when preparing categorical data for use with a mathematical algorithm. Let's stick with our sales data for an example. One-hots are sometimes also called 'dummies'. There is a handy function for doing this.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html

In [0]:
# Take a close look at the output. Rows where the Column label applies have a 1.
# Rows where the column label does not apply have a 0.
pd.get_dummies(sales_df, columns=["Region", "Product Type", "Store Type"])

Pivoting and Melting give us a couple of ways of rearranging what are rows and what are columns. Are there any other ways of doing this?

The most obvious but not always useful way is to transpose the whole DataFrame. There is a method for doing this.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.transpose.html

In [0]:
sales_df.transpose()

The stack and unstack methods can be used to shift labels from one axis on to the other axis as part of a MultiIndex. Let's look at what this means.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html

In [0]:
# Shifts the column Index onto the row Index as a layer in a MultiIndex
stacked_sales_df = sales_df.stack()
stacked_sales_df

In [0]:
# unstack pops the bottom layer of Indices of of the row and rearranges the data 
# so that layer is now the column Index.
stacked_sales_df.unstack()

We saw a bit of how data can be manipulated during the section on grouping and aggregating. What if you want to do operations to the data without grouping?

The 'usual' mathematical operations can be used (+, -, /, \*). If a scalar value is used along with a Series or DataFrame, the scalar gets applied to every element in the Series/DataFrame. If two Series or DataFrame are used, they must be the same shape and the operation is applied to the corresponding data cells. Keep in mind that these are per element and not matrix operations. Pandas does have some functions for matrix operations, but if you are doing something where matrix operations are important, you are probably better off using numpy directly instead of using Pandas.

In [0]:
sales_df["SalesNew"] = sales_df["Sales"] - 189
sales_df

In [0]:
sales_df.Sales * sales_df.Sales

More general is the apply method. There is a method for Series and a method for DataFrame.
 
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html
 
When apply is used with a DataFrame, a function is applied to each column or to each row. The default is each column. Use the axis parameter to switch to rows. What is the value of applying a function to each column/row? You can do operations that include an aggregation of the entire row and column. Below is an example of normalization on our wine dataframe.

In [0]:
def scale(x):
  means = x - x.mean()
  return means / x.std()

wine_dataframe.apply(lambda x: (x - x.mean()) / x.std())

The Series apply method applies the function to each cell individually. This is useful if you have a function meant to be applied to one thing at a time. Note that apply does just need to be used with numeric data. Let's look at how we could modify categorical data with this.

In [0]:
sales_df["Region"]

In [0]:
def add_north_to_name(cell):
  return "North-" + cell 

sales_df["NorthRegion"] = sales_df["Region"].apply(add_north_to_name)
sales_df

Pandas has some aggregation functions (like we saw in the grouping section) that can be applied to individual columns or rows as well.

In [0]:
wine_dataframe.quality.mean()

In [0]:
wine_dataframe.apply(pd.Series.mean)

#Joins

In our brief look at SQL, we learnt about the types of joins. We often think of joins as something done between databases, but since Pandas DataFrames are "relational", joins can be done between DataFrames as well.

Let's look at the types of joins again, but with Pandas examples.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html

In [0]:
# Let's imagine you have data for students from your institution. You have data
# for students ONLY from your institution
institution_student_df = pd.DataFrame([
    {"student_id": "123-NAIT", "student_first_name": "Mark", "student_age": 27},
    {"student_id": "124-NAIT", "student_first_name": "Jane", "student_age": 34},
    {"student_id": "125-NAIT", "student_first_name": "Doug", "student_age": 21},
    {"student_id": "127-NAIT", "student_first_name": "Jose", "student_age": 23},
    {"student_id": "128-NAIT", "student_first_name": "Maria", "student_age": 29},
    {"student_id": "129-NAIT", "student_first_name": "Rose", "student_age": 45},
    {"student_id": "130-NAIT", "student_first_name": "Jordan", "student_age": 19},
])

# Now lets say your institution offers a class that is taken by students
# from various institutions. It could contain students in institution_student_df
# or students from elsewhere.
class_df = pd.DataFrame([
    {"student_id": "123-NAIT", "test_1_grade": 67, "test_2_grade": 78},
    {"student_id": "682-UOFA", "test_1_grade": 23, "test_2_grade": 25},
    {"student_id": "127-NAIT", "test_1_grade": 99, "test_2_grade": 97},
    {"student_id": "223-UOFA", "test_1_grade": 88, "test_2_grade": 89},
    {"student_id": "129-NAIT", "test_1_grade": 55, "test_2_grade": 56},
    {"student_id": "131-MAC", "test_1_grade": 92, "test_2_grade": 79},
])

In [0]:
display(institution_student_df.head())
display(class_df.head())

In [0]:
class_df.set_index("student_id")

In [0]:
# give us students from our institution, but with grades for those applicable
# this is a left join
# Two things to note here. The 'on' parameters says which column of the
# DataFrame the method is called on (the left one) to use in joining.
# The argument DataFrame (the right one) always uses the index. That is why
# we used set_index when calling here.
institution_student_df.join(class_df.set_index("student_id"), on="student_id", how="left")

In [0]:
# A right join will give us all students in the class and add personal info
# for those students at our institution.
institution_student_df.join(class_df.set_index("student_id"), on="student_id", how="right")

In [0]:
# an outer join will give us all the students in both our instution and the class.
# only students in both will have both grades and personal info. Students just at our
# instution will have personal info but no grades. Students in the class but not at our 
# instution will have grades but no personal info.
institution_student_df.join(class_df.set_index("student_id"), on="student_id", how="outer")

In [0]:
# finally, a full inner join will just return students in both the class and that are
# at our instution, with complete information.
institution_student_df.join(class_df.set_index("student_id"), on="student_id", how="inner").reset_index()